{% extends 'bootstrap/base.html' %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}
{% block title %}Coffee and Wifi{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
  <h1 class="display-4">☕️ Success! 💻</h1>
  <p class="lead">A New Cafe has been added to the database!</p>
  <hr class="my-4">
  <a class="btn btn-warning btn-lg" href="cafes" role="button">Back to Cafes!</a>
</div>
    </div>

{% endblock %}
